ul.w3-navbar {
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #2196F3 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#070707)) !important;
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%) !important;
  background: linear-gradient(top, #262626 0%, #070707 100%) !important; }
  ul.w3-navbar > li > a:hover {
    background-color: black !important; }
  ul.w3-navbar > li a {
    position: relative; }
  ul.w3-navbar > li > a:after {
    content: " ";
    display: inline-block;
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #2196F3 transparent;
    visibility: hidden;
    width: 0;
    height: 0;
    bottom: 0;
    left: 48%; }
  ul.w3-navbar > li > a:hover:after {
    visibility: visible; }

/*ecrane mari*/
@media (min-width: 600px) {
  ul.w3-navbar > li > a:after {
    left: 35%; } }

/*ecrane-mici*/
@media (max-width: 600px) {
  .drop-subproduct {
    left: 0 !important; }
  .hover-subproduct:hover .drop-subproduct {
    position: static !important; } }

.w3-dropdown-content {
  background-color: #0fa1e0 !important; }
  .w3-dropdown-content a:hover {
    background-color: #30708c !important;
    color: white !important; }

.w3-dropdown-content {
  min-width: 200px; }
  .w3-dropdown-content > div {
    border-bottom: 1px dotted white; }
  .w3-dropdown-content > a {
    border-bottom: 1px dotted white; }
  .w3-dropdown-content > a:last-child {
    border: none; }

/*DROP RIGHT*/
.hover-subproduct {
  position: relative; }

.drop-subproduct {
  background-color: #0fa1e0;
  position: absolute;
  top: -9999em;
  left: 200px; }
  .drop-subproduct a {
    min-width: 200px;
    border-bottom: 1px dotted white; }
  .drop-subproduct a:last-child {
    border: none; }

.hover-subproduct:hover .drop-subproduct {
  top: 0; }
